@media (min-width:820px) {
    .menu-button {
        display: none
    }

    .site-nav {
        display: block;
        border-top: none;
        background: transparent
    }

    .site-nav ul {
        display: flex;
        gap: .5rem;
        padding: .75rem 1rem;
        margin: 0 auto;
        max-width: 960px
    }

    .site-nav li+li {
        margin-top: 0
    }

    .footer-grid {
        grid-template-columns: 1fr auto;
        align-items: center
    }
}